$theme-colors: (
        "custom-color": #7FDBFF,
        "orange": #fd7e14,
        "custom-blue": #0c2b6c,
        "custom-lite-blue": #69c8dc,
);

.custom-element {
  color: #7FDBFF;
  background-color: #fd7e14;
}


@import "../../node_modules/bootstrap/scss/bootstrap";

